:root {
  color-scheme: light;
  --color0: #ffffff;
  --color1: #f7f7f7;
  --color2: #d3d3d3;
  --text-color: #4a4a4a;
}

:root[data-color-scheme='dark'] {
  color-scheme: dark;
  --color0: #1c1c1c;
  --color1: #1f1f1f;
  --color2: #424242;
  --text-color: #bfbfbf;
}

html {
  height: 100vh;
  font-size: 10px;
  color: var(--text-color);
}

body,
pre {
  margin: 0;
}

body,
.flexbox-container {
  height: 100%;
}

.flexbox-container {
  display: grid;
  place-items: center;
  background-color: var(--color1);
}

.flexbox-item {
  display: flex;
  place-items: center;
  min-height: 150px;
  padding: 1rem 2rem;
  border: 1px solid var(--color2);
  border-radius: 4px;
  background-color: var(--color0);
}

#message {
  font-size: 2rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* side tab */
.sidetab {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  width: 50px;
  height: 100%;
  font-size: 3rem;
  background-color: var(--color2);
}

.sidetab a {
  all: unset;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.sidetab a:hover {
  filter: invert(-20%);
}

@media (max-width: 350px) {
  .sidetab {
    display: none;
  }
}
/* side tab end */
