/* side tab */
.sidetab {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;

  height: 100%;
  color: rgba(0, 0, 0, 0.9);
  font-size: 34px;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidetab a {
  color: #555;
  transition: color 150ms;
}

.sidetab a:hover {
  color: #000;
}

@media (max-width: 350px) {
  .sidetab {
    display: none;
  }
}
/* side tab end */
